{% extends '../base2.html' %}
{% load static %}

{% block title %}
    Reset | Oganik
{% endblock title %}

{% block content %}

	<div class="wrap-login100">
		<div class="login100-pic js-tilt" data-tilt>
			<img src="{% static 'images/img-01.png' %}" alt="IMG">
		</div>

		<form class="login100-form validate-form" method="POST">
		{% csrf_token %}
			<span class="login100-form-title">
				OTP Verification
			</span>
			<div class="wrap-input100 validate-input" data-validate = "OTP is required">
				<input class="input100" type="text" name="otp" placeholder="OTP">
				<span class="focus-input100"></span>
			</div>
			<div class="container-login100-form-btn">
				<button type="submit" class="login100-form-btn">
					Verify
				</button>
			</div>
		</form>
	</div>

{% endblock content %}